#ignoring some of log files and config
*.log
*.lock
/v_download
*.mp4
/a_download
*.ogg
config.py
/__pycache__
config.cpython-36.pyc

#ignoring PyCharm files on Windows
/.idea

#ignoring autorun script 
*autorun.sh
